:root{
  --primary-color : #37728b ; 
  --font-family : 'Lexend' , sans-serif ; 
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
